.footer-main-div{
    background-color: black
}
.footer-main-div h3 {
    color: #fff;
    font-family:K2D;
    font-weight: 700;
    font-size: 20px;
    letter-spacing:2px;    

}
.footer-main-div p{
    color:#dd4668;
    font-size:16px;
}

.copy-footer{
    
}